<div class="footer">
	<h6>Disclaimer : </h6>
	<p class="claim">This is a freebies and not an official website, I have no intention of disclose any movie, brand, news.My goal here is to train or excercise my skill and share this freebies.</p>
	<a href="example@mail.com">example@mail.com</a>
	<div class="copyright">
		<p> Template by  <a href="http://videos.com">  videos</a></p>
	</div>
</div>	
</div>
    <div class="clearfix"></div>
</div>
<script>
   /* if(window.Event)
    {
        document.captureEvents(Event.MOUSEUP);
    }

    function nocontextmenu()
    {
        event.cancelBubble = true;
        event.returnValue  = false;
        return false;
    }

    function norightclick(e)
    {
        if(window.Event)
        {
            if(e.which == 2 || e.which == 3)
            {
                return false;
            }
        }else if(event.button == 2 || event.button ==3)
        {
            event.cancelBubble = true;
            event.returnValue  = false;
            return false;
        }
    }
    document.oncontextmenu  = nocontextmenu;
    document.onmousedown = norightclick;*/
</script>
</body>
</html>