<style type="text/css">
    .logstdbtn {
        font-weight: bold;
        padding: 7px 10px;
        border: 1px solid #ccc;
        color: #333;
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        cursor: pointer;
        opacity: 0.8;
    }
    .btn_blue {
        background-position: 0 -116px;
        border-color: #0282ce;
        background-color: #0282ce;
        color: #fff;
    }
    .btn_black {
        background-position: 0 -114px;
        border-color: #222;
        background-color: #222;
        color: #fff;
    }
    .right{
        float: right;
    }
</style>
<div class="main">
        <div class="header">
            <div class="top-header">
                <div class="logo">
                    <a href="/"><img src="public/images/logo.png" alt="" /></a>
                    <p>JUST YOU LIKE</p>
                </div>
                <div class="right">
                    <?php if($this->session->userdata('member')):?>
                        <label>欢迎您：<?php echo $this->session->userdata('member')['musername'];?> </label><a  href="javascript:void(0);" style="float: right;" id="loginout">退出</a>
                    <?php else:?>
                    <button class="logstdbtn btn_blue">注册</button>
                    <button class="logstdbtn btn_black" id="login">登录</button>
                    <?php endif;?>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="header-info">
                <h1>BIG HERO 6</h1>
                <p class="age"><a href="#">All Age</a> 唐.霍尔, 克里斯·威廉姆斯</p>
                <p class="review">等级	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;  8,5/10</p>
                <p class="review reviewgo">风格	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : &nbsp;&nbsp; 动画片, 动作, 喜剧</p>
                <p class="review">首播 &nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp; 7 November 2014</p>
                <p class="special">The special bond that develops between plus-sized inflatable robot Baymax, and prodigy Hiro Hamada, who team up with a group of friends to form a band of high-tech heroes.</p>
                <a class="video" href="#"><i class="video1"></i>BROADCAST</a>
                <a class="book" href="#"><i class="book1"></i>DOWNLOAD</a>
            </div>
        </div>
        <div class="review-slider">
            <ul id="flexiselDemo1">
                <?php if($littleads):
                        foreach($littleads as $key => $value):
                ?>
                <!--<a href="/single?id=<?php echo $value['id'];?>"></a>-->
                <li ><img src="<?php echo $value['cover_path'];?>" alt="" data-href="/single?id=<?php echo $value['id'];?>" class="imgsingle" /></li>
                <?php endforeach; endif;?>
            </ul>
            <script type="text/javascript">
                $(window).load(function() {

                    $("#flexiselDemo1").flexisel({
                        visibleItems: 6,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: false,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 2
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 3
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 4
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="public/js/jquery.flexisel.js"></script>
        </div>
        <div class="video">
            <!--<iframe  src="/play" frameborder="0" allowfullscreen></iframe>-->
        </div>
        <div class="news">

            <div class="col-md-6 news-left-grid">
                <h3>Don’t be shy,</h3>
                <h2>Tell me your hobbies!</h2>
                <h4>finny, active & fast.</h4>
                <a href="/reviews"><i class="book"></i>BEGIN</a>
                <p>Get Discount up to <strong>10%</strong> if you are a member!</p>
            </div>
            <div class="col-md-6 news-right-grid">
                <h3>News</h3>
                <div class="news-grid">
                    <p>因个人喜欢一些比较经典的影片，在网站搜索到的，在很多时候都不能满足我的要求，于是在我看到一些好的影片或者是一些好听的音乐的时候就会放到这个网站上来，方便自己，也希望能够帮助到一些同样爱好的朋友.</p>
                    <p>网站前期暂不开放所有人存放经典影片和音乐的功能，后期会增加，如果有好的影片或者音乐可以通过联系我，影片名称加上您的署名发送给我.</p>
                </div>
                <div class="news-grid">
                    <h3>Lorem Ipsum Dolor Sit Amet</h3>
                    <label>Nov 11 2014</label>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.</p>
                </div>
                <a class="more" href="#">MORE</a>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="more-reviews">
            <ul id="flexiselDemo2">
                <?php if($bigads):
                        foreach($bigads as $key => $value):
                ?>
                <li><img src="<?php echo $value['cover_path'];?>" alt="" data-href="/single?id=<?php echo $value['id'];?>"/></li>
                <?php endforeach; endif;?>
            </ul>
            <script type="text/javascript">
                $(window).load(function() {

                    $("#flexiselDemo2").flexisel({
                        visibleItems: 4,
                        animationSpeed: 1000,
                        autoPlay: true,
                        autoPlaySpeed: 3000,
                        pauseOnHover: false,
                        enableResponsiveBreakpoints: true,
                        responsiveBreakpoints: {
                            portrait: {
                                changePoint:480,
                                visibleItems: 2
                            },
                            landscape: {
                                changePoint:640,
                                visibleItems: 3
                            },
                            tablet: {
                                changePoint:768,
                                visibleItems: 3
                            }
                        }
                    });
                });
            </script>
            <script type="text/javascript" src="public/js/jquery.flexisel.js"></script>
            <script>
                $('.imgsingle').click(function(){
                    var url  =  $(this).attr('data-href');
                    window.location.href = url;

                })
            </script>
        </div>

        <div class="tanchuang" style="display: none">
            <div class="tc-box">
                <h3>登录</h3>
                <div class="tc-con ">
                    <p>username：<input class="username" id="username"></p>
                    <p>password：<input class="username" id="password"></p>
                    <p><input type="checkbox"><span style="margin-left: 10px;">记住密码</span></p>
                    <p><input type="button" value="登录" class="tc-btn"></p>
                </div>
            </div>
        </div>
        <style type="text/css">
            .username {
                -moz-border-radius: 2px;
                -webkit-border-radius: 2px;
                border-radius: 2px;
                -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                box-shadow: 0 1px 2px rgba(0,0,0,0.4);
                margin: 3% 0;
                height: 30px;
                width: 60%;
            }

            .tanchuang {
                background: rgba(0, 0, 0, 0.5);
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 999;
            }

            .tc-box {
                max-width: 500px;
                max-height: 300px;
                min-height: 200px;
                width: 75%;
                height: 45%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 19%;
                background: url(/public/images/b-line2.png) repeat-x left top #fafafa;
                border-radius: 5px;
                border: 1px solid #b5b5b5;
                border-top: 0;
                padding: 20px 30px;
            }

            .tc-box h3 {
                font-size: .8rem;
                padding-bottom: 15px;
                border-bottom: 1px solid #e7e7e7;
                text-align: center;
            }

            .tc-con {
                padding-top: 20px;
                font-size: 14px;
                text-align: center;
            }

            .tc-btn {
                border-radius: 20px;
                background: #17b4eb;
                border: none;
                color: #ffffff;
                width: 60%;
                max-width: 100px;
                height: 30px;
                font-family: "微软雅黑";
                margin-top: 10px;
                cursor: pointer;
                margin-left: 5%;
            }
        </style>
        <script type="text/javascript">
            $(".tc-btn").click(function () {
                var username = $('#username').val();
                var password = $('#password').val();
                if(username == "")
                {
                    alert('请填写用户名！');
                    return false;
                }

                if(password == "")
                {
                    alert('请输入密码！');
                    return false;
                }

                $.post('/Home/login',{username:username,password:password},function(data){
                    if(data.status == 1)
                    {
                        alert(data.msg);
                        window.setTimeout(function(){
                            window.location.href = data.url;
                        },1000)
                    }else{
                        alert('登录失败');
                        return false;
                    }
                });
            });


            $('#login').click(function(){
                $('.tanchuang').css('display', 'block');
            });
            $('#loginout').click(function(){
                $.post('/Home/LoginOut',{},function(data){
                    if(data.status == 1)
                    {
                        alert(data.msg);
                        window.setTimeout(function(){
                            window.location.href = data.url;
                        },1000)
                    }
                })
            })
        </script>
       <?php $this->load->view('footer.html');?>