<div class="vernav2 iconmenu">
    	<ul>
        	<li><a href="#formsub" class="editor">会员管理</a>
            	<span class="arrow"></span>
            	<ul id="formsub">
               		<li><a href="../members">新增会员</a></li>
                    <li><a href="wizard">会员列表</a></li>
                    <li><a href="editor">回收站</a></li>
                </ul>
            </li>


        	<li><a href="#comment" class="editor">评论管理</a>
            	<span class="arrow"></span>
            	<ul id="comment">
               		<li><a href="forms">评论列表</a></li>
                    <li><a href="wizard">待审和列表</a></li>
                    <li><a href="editor">回收站</a></li>
                </ul>
            </li>
            <li><a href="#views" class="addons">视频管理</a>
            	<span class="arrow"></span>
            	<ul id="views">
               		<li><a href="newsfeed">视频列表</a></li>
                    <li><a href="profile">添加视频</a></li>
                    <li><a href="productlist">回收站</a></li>
                </ul>
            </li>


            <li><a href="#addons" class="addons">其他页面</a>
            	<span class="arrow"></span>
            	<ul id="addons">
               		<li><a href="newsfeed">新闻订阅</a></li>
                    <li><a href="profile">资料页面</a></li>
                    <li><a href="productlist">产品列表</a></li>
                    <li><a href="photo">图片视频分享</a></li>
                    <li><a href="gallery">相册</a></li>
                    <li><a href="invoice">购物车</a></li>
                </ul>
            </li>
        </ul>
        <a class="togglemenu"></a>
        <br /><br />
    </div><!--leftmenu-->



