<link rel="stylesheet" href="../../public/css/style.default.css" type="text/css" />
<link rel="stylesheet" href="../../public/css/plugins/jQuery.ui.css" type="text/css"/>
<script type="text/javascript" src="../../public/js/jquery.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery.cookie.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery.uniform.min.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery.flot.min.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="../../public/js/plugins/jquery.slimscroll.js"></script>
<script type="text/javascript" src="../../public/js/custom/general.js"></script>
<script type="text/javascript" src="../../public/js/custom/dashboard.js"></script>
<div class="pageheader notab">
    <h1 class="pagetitle">Tables</h1>
    <span class="pagedesc">This is a sample description of a page</span>
</div><!--pageheader-->

<div id="contentwrapper" class="contentwrapper">

  <div class="contenttitle2">
            <h3>Dynamic Table with Checkbox Column</h3>
        </div><!--contenttitle-->
        <table cellpadding="0" cellspacing="0" border="0" class="stdtable" id="dyntable2">
            <colgroup>
                <col class="con0" style="width: 4%" />
                <col class="con1" />
                <col class="con0" />
                <col class="con1" />
                <col class="con0" />
            </colgroup>
            <thead>
                <tr>
                  <th class="head0 nosort"><input type="checkbox" /></th>
                    <th class="head0">ID</th>
                    <th class="head1">用户名</th>
                    <th class="head0">手机号</th>
                    <th class="head1">状态</th>
                    <th class="head1">创建时间</th>
                    <th class="head0">操作</th>
                </tr>
            </thead>
            <tbody>
            <?php foreach($list as $key => $value):?>
                <tr class="gradeA">
                    <td align="center">
                        <span class="center">
                              <input type="checkbox" />
                        </span>
                    </td>
                    <td  class="head0"><?php echo $value['mid'];?></td>
                    <td><?php echo $value['musername'];?></td>
                    <td><?php echo $value['mmobile'];?></td>
                    <td><?php echo $value['mstatus']?"<lable style='color: #008000;font-weight: bolder;'>正常</lable>":"<lable style='color: red;font-weight: bolder;'>禁用</lable>";?></td>
                    <td><?php echo date("Y-m-d",$value['mcreate_time']);?></td>
                    <td class="center">
                        <a href="javascript:void(0);" style="color: #008000;font-weight: bolder;" data-mstatus="1" data-muid="<?php echo $value['mid'];?>" class="closed">启用</a>
                        <a href="javascript:void(0);" style="color: red;font-weight: bolder; margin-left: 15px;" data-mstatus="0" data-muid="<?php echo $value['mid'];?>" class="closed">禁用</a>
                    </td>
                </tr>
            <?php endforeach;?>
            </tbody>
        </table>
    <script type="text/javascript">
        $('.closed').click(function(){
            var status = $(this).attr('data-mstatus');
            var muid   = $(this).attr('data-muid');
            $.post('/admin/Members/editMemberStatus',{mid:muid,mstatus:status},function(data){
                if(data.status)
                {
                    alert(data.msg);
                    window.setTimeout(function(){
                        window.location.href="/admin/Members/index";
                    },3000);

                }
            })
        })
    </script>

</div><!--contentwrapper-->
<div class="clearfix"> </div>
<?php echo $pagination;?>
        
